<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>wproject2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
 
  <!-- web.xml에다가 할경우 전체프로젝트에 적용됨 -->
  <!--  에러처리 우선순위1등: 각페이지마다 isErrorPage 처리-->
   <!--  에러처리 우선순위 3등 -->
<!--  
  <error-page>
  <error-code>500</error-code>
  <location>/err500.jsp</location>
  </error-page>
  <error-page>
  <error-code>404</error-code>
  <location>/err404.jsp</location>
  </error-page>
  --> 
  <!--  에러처리 우선순위 2등 -->
<!--    <error-page>
  <exception-type>java.lang.ArithmeticException</exception-type>
  <location>/errarith.jsp</location>
  </error-page>
  <error-page>
  <exception-type>java.lang.FileNotFoundException</exception-type>
  <location>/errfilenot.jsp</location>
  </error-page>
   -->
   <servlet>
  <servlet-name>InitServlet</servlet-name>
  <servlet-class>pack.InitServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>