<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>wproject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- servlet 생성 후 등록 -->
  <!--  
  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>pack.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/HelloServlet</url-pattern>
  <url-pattern>/good.kor</url-pattern>
  <url-pattern>/dajung</url-pattern>
  </servlet-mapping> 
  -->
   <!-- 프로젝트전체에 적용하는경우 -->
   <!--  
  <session-config>
  <session-timeout>60</session-timeout> 
  </session-config> 
  -->
  
</web-app>